
body{
    background-color:darkturquoise;
}
h1{
    color:green;
    text-align: center;
    position: sticky;
    top: 0px;
    margin-left: 45px;


}
.green-box{
    width: 340px;
    height: 200px;
    background: green;
    padding: 10px;
    margin: 10px;
    margin-left: 10px;
   position: relative;
}
.red-box{
    width: 80px;
    height: 80px;
    background: red;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    margin: auto;
    border-radius: 50px;
}
.container {
    display: flex;
    
}
.flag{
    color: red;
    font-size: 25px;
    margin-left: 50px;

}
.flag a{
    color: red;
    text-decoration: none;
}
.pic1{
    margin-left: 93px;
}
 .pic1 img{
    width: 370px;
    height: 224px; 
    padding: 10px;

}
.sun{
    font-size: 25px;
    margin-left: 140px;

}
.sun a{
    color: red;
    text-decoration: none;
}
.sun i{
    color: red;
}
.pic2 img{
    width: 370px;
    height: 224px;
    padding: 10px;
    margin-left: 90px;
}
.spe{
    font-size: 25px;
    color: red;
    margin-left: 210px;
    
   
}
.spe a{
    color: red;
    text-decoration:none;
}
a:active{
    color: springgreen;
}
a:hover{
    color: black;
}
.picture {
    display: flex;
}
.pic3 img{
    width: 370px;
    height: 224px;
    margin-left: 10px;
    display: inline-block;
}

.boat a{
    color: red;
    font-size: 25px;
    text-decoration: none;
}

.boat i{
    color: red;
    font-size: 25px;
    margin-left: 50px;
}
.pic4 img{
    width: 370px;
    height: 224px;
    margin-left: 110px;
}
.Rain i{
    font-size: 25px;
    color: red;
    margin-left: 240px;
}
.Rain a{
    font-size: 25px;
    color: red;
    text-decoration: none;

}
.pic5 img{
    width: 370px;
    height: 224px;
    margin-left: 110px;
}
.beach i{
    color: red;
    font-size: 25px;
    margin-left: 230px;
}
.beach a{
    color: red;
    font-size: 25px;
    text-decoration: none;
}
.beach,a,a:hover{
    color: blue;
}
.nature{
    display: flex;
}
.nature,img{
    width: 370px;
    height: 224px;
    margin-left:5px ;
}
.fish i{
    color: red;
    font-size: 25px;
    margin-left: 50px;
}
.fish a{
    color: red;
    font-size: 25px;
    text-decoration: none;
}
.fish ,a,a:hover{
    color: black;
}
.pic7 img{
    width: 370px;
    height: 224px;
    margin-left:110px ;
}
.cow i{
    color: red;
    font-size: 25px;
    margin-left: 240px;
}
.cow a{
    font-size: 25px;
    color: red;
    text-decoration: none;
}
.pic8 img{
    width: 370px;
    height: 224px;
    margin-left: 110px;
}
.suns i{
    color: red;
    font-size: 25px;
    margin-left: 230px;
}
.suns a{
    font-size: 25px;
    color: red;
    text-decoration: none;
}
.suns ,a,a:hover{
    color: black;
}


